
@{
    ViewBag.Title = "Newspaper";
}
@using System.Globalization
@model RedditNewspaper.Models.SubredditWrapper

<script type="text/javascript" src="~/Content/redditapi.js"></script>

<span id="srquery" class="invisible">@Model.Subreddit</span>
<div class="container">
    <div class="row">
        <div class="col-md-2 border border-dark"><p>The Front Page <br /> of the What?</p></div>
        <div class="col-md-8"><h1 id="newspaperTitle" class="text-center"></h1></div>
        <div class="col-md-2 border border-dark"><p>Your source for the finest news from the magical ether.</p></div>
    </div>
    <div class="rowSpacer"></div>
    <div class="row border-top border-bottom border-dark">
        <div class="col-md-2">vol. XLII</div>
        <div class="col-md-8"><p class="text-center">@DateTime.Now.DayOfWeek,  @DateTime.Now.ToString("MMMM", CultureInfo.InvariantCulture) @DateTime.Now.Day @DateTime.Now.Year</p></div>
        <div class="col-md-2">$3.50</div>
    </div>
</div>
<div class="rowSpacer"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 id="headline" class="text-center"></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 border border-dark">
            <div id="leftPanelPhoto"></div>
            <h5 id="leftPanelTitle"></h5>
            <p id="leftPanelContent"></p>
        </div>
        <div class="col-md-6">
            <div id="frontPhoto"></div>
            <div id="frontQuote"></div>
        </div>
        <div class="col-md-3">
            <p id="frontContent"></p>
        </div>
    </div>
</div>

